@import url("./assets/fonts/fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  scrollbar-width: thin;
  scrollbar-color: oklch(0.6 0.17 147.26) transparent;
} */

.dark .dark\:bg-darks {
  --tw-bg-opacity: 1;
  background-color: rgb(32 32 32 / var(--tw-bg-opacity));
}

.dark .dark\:bg-darkz {
  --tw-bg-opacity: 1;
  background-color: rgb(16 16 16 / var(--tw-bg-opacity));
}

.dark .dark\:fill-dark-bg-lite {
  fill: #343434;
}

.bg-body-grey-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(242 244 246 / var(--tw-bg-opacity));
}

.dark .dark\:text-dark-text,
.dark .dark\:text-hadith-deepoffwhite {
  --tw-text-opacity: 1;
  color: rgb(166 172 175 / var(--tw-text-opacity));
}

.dark input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  width: 100%;
  background: #2a2a2a;
  border-radius: 5px;
  background-image: linear-gradient(#2b9e76, #2b9e76);
  background-repeat: no-repeat;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  width: 100%;
  background: #eee;
  border-radius: 5px;
  background-image: linear-gradient(#2b9e76, #2b9e76);
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  @apply w-[6px] my-10;
}

::-webkit-scrollbar-track {
  /* @apply bg-none; */
}

::-webkit-scrollbar-thumb {
  @apply bg-[#0a993c] w-[6px] rounded-[5px];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#36ca6a];
}

.slick-prev,
.slick-next {
  display: none !important;
}

.menu-list {
  @apply lg:p-3 p-2 hover:bg-gray-100 hover:text-black gap-3 flex items-center rounded-xl;
}

.sidenav .active {
  @apply bg-[#0a993c] text-white hover:text-black rounded-xl;
}

.paginate {
  @apply w-full py-4 flex flex-wrap space-x-3 gap-2;
}

.paginate a {
  @apply block px-3 py-1 text-sm bg-white rounded;
}

.active a {
  @apply block px-3 py-1 text-sm bg-[#2b9e76] rounded;
}

/*  */

/* #tasbih {
    background: -webkit-linear-gradient(to top, #627386, #78a0e8);
    background: linear-gradient(to top, #627386, #78a0e8);
    height: 100vh;
  } */
span {
  font-family: Anek Bangla, sans-serif;
}

.ortho {
  font-family: Anek Bangla, sans-serif;
  /* color: rgb(0, 255, 255) !important; */
  font-size: 16px;
}

.t1,
.t2,
.t3 {
  font-size: 18px;
  /* color: rgb(0, 255, 255); */
  margin: 30px 20px;
  font-weight: 900;
}

@keyframes example {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.number-count {
  font-size: 40px;
  padding: 10px 25px;
  background-color: #243b55;
  border-radius: 8px;
  color: rgb(0, 255, 255);
  font-family: "Anek Bangla";
}

.popup-text {
  padding: 0 100px;
}

#popup {
  position: absolute;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  margin-right: 5vw;
  transform: scale(0);
  transition: 0.5s;
  animation: bounce 0.3s;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.poppup-card {
  padding: 10px;
  background: rgba(33, 167, 167, 0.945);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-headung {
  text-align: center;
}

.popup-head {
  font-size: 25px;
  color: #141e30;
  font-weight: bold;
  margin: 20px auto;
}

.popup-text-content {
  font-size: 16px;
  color: #141e30 !important;
  font-weight: normal;
}

.popup-colse-button {
  font-family: Anek Bangla, sans-serif !important;
  border: none;
  outline: none;
  background-color: #141e30;
  color: rgb(0, 255, 255);
  padding: 10px 18px;
  font-size: 17px;
  margin: 10px;
  font-weight: bold;
  display: block;
  border-radius: 4px;
  margin: 15px auto;
  cursor: pointer;
}

.four {
  font-size: 90px;
  font-weight: 900;
  margin-top: 20px;
}

.pagenotfound {
  font-size: 50px;
  margin-bottom: 20px;
}

.fixed-bottoms {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 230px;
  z-index: 1030;
}

@media (max-width: 550px) {
  .headbn {
    display: none;
  }

  .popup-text {
    padding: 0 10px !important;
  }
}

.shapecorner {
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  background: black;
  right: -1px;
  z-index: 1;
  top: -1px;
  border-radius: 0 5px 0 25px;
  transition: all linear 0.3s;
}

.brdhvr:hover .shapecorner {
  background: #f50173;
}

.numlis {
  z-index: 2;
  color: #fff;
}

.surano.w-25 {
  text-align: center;
  align-self: center;
}

.surano.w-25 svg {
  font-size: 45px;
}

.datehide {
  display: none;
}

@media (max-width: 1240px) {
  .datehide {
    display: block;
  }

  .dateshow {
    display: none;
  }
}

/*  */

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

/* Animations */
@keyframes ringA {

  from,
  4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%,
  54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%,
  to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {

  from,
  12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%,
  62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%,
  to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%,
  58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {

  from,
  8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%,
  50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

/*  */
table {
  width: 100%;
}

.rakat table th,
.rakat table td,
.ramjan table td {
  border-collapse: collapse;
  border: 1px solid;
}

.rakat table thead td,
.ramjan.calender table thead td {
  padding: 10px 5px;
  text-align: center;
}

.rakat table tbody td,
.ramjan.calender table tbody td {
  @apply lg:p-2 p-1 text-center lg:text-lg text-sm;
}

.ins-list {
  @apply p-3 hover:bg-gray-100 hover:text-black rounded-xl w-full text-center grid grid-cols-3 justify-start items-center gap-5;
}

.ins-list .text {
  @apply py-3 px-5 text-white rounded-lg text-wrap;
}

.ins-list .text~span {
  @apply col-span-2 text-start;
}

.quran.details .menu-item {
  @apply p-1 bg-gray-100 border-[1px] flex justify-center items-center flex-col gap-2 text-black hover:bg-[#2b9e76] hover:text-white rounded-lg w-full text-center cursor-pointer;
}

.quran.details {
  @apply flex flex-col gap-2 transition-all;
}

.rhap_main-controls-button,
.rhap_repeat-button,
.rhap_additional-controls {
  @apply !text-white;
}

.meter {
  height: 10px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s ease;
}

.meter span {
  display: block;
  height: 100%;
  background: #0a993c;
  transition: width 0.2s ease;
}